.row-component {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 1 auto;
    border: 1px solid black;
    border-top-width: 0;
}

img {
    border: 2px solid rgb(179, 172, 172);
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    margin: 0px 5px;
    padding: 10px;
    width: 30px;
}

h3 {
    margin-bottom: 0px;
}

h6 {
    margin-top: 5px;
}

.name {
    padding: 10px;
    width: 200px;
    word-wrap: break-word;
}
